<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            min-height: 100vh;
            position: relative;
            margin: 0;
        }

        footer {
            position: absolute;
            bottom: 0;
        }

        .jumbotron {
            /*  OR Image in the center bottom of the container  */
            text-align: center;
            padding-top: 10rem;
            padding-bottom: 10rem;
            text-shadow: 2px 2px #000;
            width: 100%;
            height: 20%;
        }

        .bg-cover {
            background-image: url(https://images.unsplash.com/photo-1463131880619-92e2e9a64ee8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e91ed7b1c3a78f19a613d1ae34752caf&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb);
            background-size: cover;
            color: white;
            background-position: center bottom;
            position: relative;
            z-index: -2;
        }

        .overlay {
            background-color: #000;
            opacity: 0.2;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    </style>
</head>
<body>
    @Html.Partial("_Navbar")
    <div class="container body-content pt-lg-5 pt-md-4 pt-3">
        @RenderBody()
        
        <footer class="text-center w-75">
            <hr />
            <p class="text-center">
                &copy; @DateTime.Now.Year - John Dominguez - Rek it till you break it
            </p>
        </footer>
    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
